extends basic-layout

block html_head
  link(rel='stylesheet', href='/lib/metisMenu/metisMenu.css')
  script require(['frame'],function(){})
  block head

block body_content
  // sidebar 侧边栏导航
  .row
    .col-md-12.wrapper
      aside.sidebar
        nav.sidebar-nav
          ul#ul-mnu.metismenu
            li(title='回到控制台的首页。')
              a(href='/?t-src=sidebar') &laquo; 控制台首页
            li.active
              a(href='#' aria-expanded='true') 爬虫管理
                span.fa.arrow
              ul(aria-expanded='true')
                li
                  a(href='/config?spiderId=12') 设置
                li
                  a(href='/tasks?spiderId=12') 任务
            li
              a(href='#') 日志管理
      .content
        block content
